.section_container {
  width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 60px 24px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.hero_text,
.hero_img {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 100px;
}

.hero_text {
  width: 50%;
}

.hero_img {
  width: 50%;
  text-align: right;
}

.hero_text h1 {
  font-size: 80px;
  font-weight: 800;
  color: #34313d;
}

.hero_text p {
  margin: 20px 0 30px;
  color: #9aa1ac;
  font-size: 18px;
}

.hero_btn {
  background: #2bd0d0;
  color: #fff;
  padding: 12px 28px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.hero_img img {
  margin-bottom: 52px;
}

.short_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  position: absolute;
  top: 810px;

  width: 1110px;
  height: 168px;
  margin: 0 auto;
  padding: 52px 64px;

  border-radius: 10px;
}

.short_input {
  width: 769px;
  height: 64px;
  padding: 0 20px;

  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.short_btn {
  width: 118px;
  height: 64px;

  background: #2bd0d0;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.search_bg {
  display: block;
  margin: 80px auto 0;
}
