.header {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.header nav {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav > div {
  display: flex;
  align-items: center;
  gap: 28px;
}
.header a {
  text-decoration: none;
  font-size: 14px;
  color: #9aa1ac;
  font-weight: 500;
}
.header button {
  border: none;
  background: #2bd0d0;
  color: #fff;
  padding: 10px 22px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
